// Core variables and mixins
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";
// Reset and dependencies
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/normalize";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/print";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/glyphicons";
// Core CSS
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/scaffolding";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/type";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/code";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/grid";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/tables";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/forms";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/buttons";
// Components
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/component-animations";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/dropdowns";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/button-groups";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/input-groups";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/navs";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/navbar";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/breadcrumbs";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/pagination";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/pager";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/labels";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/badges";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/jumbotron";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/thumbnails";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/alerts";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/progress-bars";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/media";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/list-group";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/panels";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-embed";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/wells";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/close";
// Components w/ JavaScript
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/modals";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/tooltip";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/popovers";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/carousel";
// Utility classes
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/utilities";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-utilities";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);

@mixin textGlitch($name, $intensity, $textColor, $background, $duration1, $pause1, $duration2, $pause2, $highlightColor1, $highlightColor2, $width, $height) {
  
  color: $textColor;
  position: relative;
  $steps: $intensity;
  
  // Ensure the @keyframes are generated at the root level
  @at-root {
    // We need two different ones
    @for $i from 1 through 2 {
      @keyframes #{$name}-anim-#{$i} {
        @for $i from 1 through $steps {
          #{percentage($i*(1/$steps))} {
            clip: rect(
              random($height)+px,
              $width+px,
              random($height)+px,
              0
            );
          }
        }
      }
    }
  }
  &::before,
  &::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: $background;
    clip: rect(0, 0, 0, 0); 
  }
  &::after {
    left: 17px;
    text-shadow: -8px 0 $highlightColor1;
    animation: #{$name}-anim-1 $duration1 $pause1 infinite linear alternate-reverse;
  }
  &::before {
    left: -12px;
    text-shadow: 12px 0 $highlightColor2; 
    animation: #{$name}-anim-2 $duration2 $pause2 infinite linear alternate-reverse;
  }
  
}

@mixin imgGlitch($name, $intensity, $width, $height, $top, $left) {
  
  $steps: $intensity;
  
  // Ensure the @keyframes are generated at the root level
  @at-root {
    // We need two different ones
    @for $i from 1 through 2 {
      @keyframes #{$name}-anim-#{$i} {
        @for $i from 0 through $steps {
          #{percentage($i*(1/$steps))} {
            clip: rect(
              random($height)+px,
              $width+px,
              random($height)+px,
              0
            );
          }
        }
      }
    }
  }
  
  > img {
    position: absolute;
    top: $top+px;
    left: $left+px;
  }
  > img:nth-child(2),
  > img:nth-child(3){
    clip: rect(0, 0, 0, 0); 
  }
  > img:nth-child(2) {
    left: ($left + 2) + px;
    animation: #{$name}-anim-1 2s infinite linear alternate-reverse;
  }
  > img:nth-child(3) {
    left: ($left - 2) + px;
    animation: #{$name}-anim-2 3s infinite linear alternate-reverse;
  }
}

$light-gray: #8E8E8E;
$dark-blue: #051126;
$yellow: #BCE328;
body {
    font-family: 'Oswald', sans-serif;
}

html,
body {
    overflow-x: hidden;
}

body {
    overflow-y: hidden;
}

a:hover {
    color: $dark-blue;
}

section {
    padding-top: 20px;
    padding-bottom: 40px;
    .info {

        line-height: 20px;
        margin-top: 10px;
        text-align: center;
        display: inline-block;

        p {
            display: inline-block;
            margin-right: 35px;
        }
        i {
            margin-right: 10px;
        }
        a {
            color: #333333;
        }
    }
}

header {
    a {
        color: $light-gray;
        &:hover {
            text-decoration: none;
        }
    }
    .more {
        float: right;
        font-size: 1.3em;
        color: #696969;
        &:hover {
            color: $dark-blue;
        }
    }
}

.footer {
    background-color: $dark-blue;
    color: white;
    margin-bottom: -15px;
    text-align: center;
    padding: 4rem 1rem;

    &__owner-info {

      .owner-info__item {
        display: inline-block;
        margin: 0 4rem;
        margin-bottom: 1rem;
        vertical-align: middle;

        @media (max-width: 769px) { 
          margin-bottom: 3.5rem;
        }
      }

      .owner-info__logo {
        height: 4rem;
      }

      .onwer-info__text--phone {
        color: #cfe41b;
        font-size: 1.8rem;
        letter-spacing: 0.2rem;
        &:hover {
            text-decoration: none;
        }
      }

      .onwer-info__text--email {
        font-size: 1.7rem;
        margin-bottom: -0.3rem;
      }

    }

    &__address {
      font-size: 2.4rem;
      letter-spacing: 0.15rem;
      font-weight: 400;
    }

    &__copyright {
      margin-top: 3.5rem;
      font-weight: 100;
      letter-spacing: 0.05rem;
      font-size: 1.7rem;

      .copyright__logo {
        display: inline-block;
        vertical-align: middle;
        margin-left: 1.5rem;
        height: 3rem;
      }

      .copyright__link {
        color: white;
        font-weight: 400;

        &:hover {
            color: white;
            text-decoration: underline;
        }
      }
    }
}

.main-nav {

    //Hamburger Icon

    &__mobile-icon {
        display: none;
        left: 1.5rem;
        top: 50%;
        width: 35px;
        height: 24px;
        position: absolute;
        transform: rotate(0deg) translateY(-50%);
        cursor: pointer;
        z-index: 50;
        transition: .5s ease-in-out;

      &.active ~ .main-nav__menu {
        transform: translate(0, 4.5rem);
      }

      @media (max-width: 769px) { 
        display: block;
      }

    }

    &__mobile-icon span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      background: $yellow;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
    }

    &__mobile-icon span:nth-child(1) {
      top: 0px;
      transform-origin: left center;
    }

    &__mobile-icon span:nth-child(2) {
      top: 10px;
      transform-origin: left center;
    }

    &__mobile-icon span:nth-child(3) {
      top: 20px;
      transform-origin: left center;
    }

    &__mobile-icon.active span:nth-child(1) {
      transform: rotate(45deg);
      top: -3px;
      left: 8px;
    }

    &__mobile-icon.active span:nth-child(2) {
      width: 0%;
      opacity: 0;
    }

    &__mobile-icon.active span:nth-child(3) {
      transform: rotate(-45deg);
      top: 22px;
      left: 8px;
    }

    //End Hamburger Icon

    position: fixed;
    top: 0;
    background-color: $dark-blue;
    width: 100%;
    z-index: 100;
    text-align: right;
    box-shadow: 0px 10px 15px  rgba($dark-blue, 0);
    transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);

    @media (max-width: 769px) {
        height: 4.5rem;
        background-color: $dark-blue;
    }

    &.sticked--step-1 {
        background-color: rgba($dark-blue, 0.7);
        box-shadow: 0px 10px 15px rgba($dark-blue, 0.7);
        @media (max-width: 769px) {
            background-color: $dark-blue;
        }
    }

    &.sticked {        
        background-color: $dark-blue;
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.46), 0 1px 4px rgba(0, 0, 0, 0.23);
    }

    &__container {
        display: table;
        width: 100%;
        max-width: 1170px;

        @media (max-width: 992px) {
            width: auto;
        }
    }

    &__menu {
        display: table-cell;
        list-style: none;
        margin: 0;
        padding: 0;
        vertical-align: middle;
        transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1);

        @media (max-width: 769px) {
            position: absolute;
            transform: translate(-100%, 4.5rem);
            text-align: left;
            left: 0;
            top: 0;
            height: calc(100vh - 4.5rem);
            background-color: $dark-blue;    
        }
    }

    &__item {
        position: relative;
        display: inline-block;
        margin: 0 0.3rem;

        @media (max-width: 1200px) {
            margin: 0;
        }

        @media (max-width: 769px) {
            display: block;
            margin: 0;
        }

        &--separator {
            margin: 0 2rem;
            visibility: hidden;
        }

        &--social {
            
            @media (max-width: 769px) {
                display: inline-block;
            }
        }
    }

    &__logo {
        display: table-cell;
        height: 3.3rem;

        @media (max-width: 769px) {
            height: 2.8rem;
            margin-top: 0.75rem;
        }
    }

    &__link {
        padding: 2rem 1rem;
        display: inline-block;
        color: #fff;
        font-weight: 400;
        font-size: 1.4rem;
        text-transform: uppercase;
        vertical-align: top;
        transition: all 0.45s cubic-bezier(0.55, 0, 0.1, 1);


        .main-nav.sticked--step-1 & {
            padding: 2rem 1rem;

            @media (max-width: 769px) {
                padding: 1.4rem 2rem;
                background-color: $dark-blue;
            }
        }

        .main-nav--home & {
            padding: 4.5rem 1rem;

            @media (max-width: 769px) {
                padding: 1.4rem 2rem;
            }
        }

        @media (max-width: 769px) {
            padding: 1.4rem 2rem;
        }

        &::before {
            content: '';
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            top: 0;
            width: 100%;
            height: 0.3rem;
            background-color: #CFE41B;
            z-index: 0;
            border-radius: 5px;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 0.2s cubic-bezier(0.55, 0, 0.1, 1);

            @media (max-width: 769px) {
                right: initial;
                width: 0.4rem;
                height: 100%;
            }
        }

        &:hover, &:focus, &.active {
            color: #fff;
            text-decoration: none; 
            
            &::before {
                transform: scaleX(1);
                transform-origin: left;
                transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
            }
        }


        &--icon {
            font-size: 1.8rem;
            line-height: 0;
            margin: 0px -0.6rem;
            padding: 2.05rem 1.6rem;

            @media (max-width: 769px) {
                margin: 0;
            }

            .main-nav.sticked--step-1 & {
                padding: 2.05rem 1.6rem;
            }

            .main-nav--home & {
                padding: 4.55rem 1.6rem;
            }

            &::before {
                bottom: 0;
                width: 3.175rem;
                height: 3.175rem;
                border-radius: 50%;
                background-color: #ffffff;
                transform: scale(0);
                transform-origin: center;
                transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
                @media (max-width: 769px) {
                    right: 0;
                }
            }

            &:hover, &:focus {

                &::before {
                    transform: scale(1);
                    transform-origin: center;
                    transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
                }
            }

            
        }

        &--logo {
            display: table-cell;
            vertical-align: middle;
            transition: opacity 0.3s 0s cubic-bezier(0.55, 0, 0.1, 1), visibility 0s 0.4s;   

            @media (max-width: 992px) {
                display: none;
            }

            @media (max-width: 769px) {
                display: inline-block;
                padding: 0;
            }

            .main-nav.sticked & {
              opacity: 1;
              visibility: visible;
              transition: opacity 0.5s 0.2s cubic-bezier(0.55, 0, 0.1, 1);
            }

            .main-nav--home & {
                visibility: hidden;
                opacity: 0;

                @media (max-width: 769px) {
                    //visibility: visible;
                    //opacity: 1;
                }
            }

            &:hover {

            }
        }

        &--github {

            &:hover, &:focus {
                color: #333333;
            }            
        }

        &--facebook {

            &:hover, &:focus {
                color: #3B5998;
            }
        }

        &--youtube {

            &:hover, &:focus {
                color: #cd201f;
            }
        }

        &--twitter {

            &:hover, &:focus {
                color: #4099FF;
            }
        }

        &--flickr {

            &:hover, &:focus {
                color: #FF0084;
            }
        }
    }

    &__icon {
        position: relative;
    }

    &--home {
        background-color: transparent;
        @media (max-width: 769px) {
            //background-color: $dark-blue;
        }
    }
}

.about {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 85vh;
    min-height: 630px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #141d2d;
    background-image: url(../img/bg-lab.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 85% 30%;

    @media screen and (max-width: 769px) {
        height: auto;
        min-height: auto;
    }

    &__info {
        width: 100%;
        min-height: 450px;
        padding: 0 7.5%;
        z-index: 1;
    }

    &__text-container {
        font-family: 'Open Sans Condensed';
        position: relative;
        margin-top: 4.5rem;
        padding-left: 2.5rem;
        font-size: 3.8rem;
        line-height: 100%;

        @media screen and (max-width: 769px) {
            font-size: 2.7rem;
            padding-left: 1.5rem;
        }

        &::before {
            content: '';
            position: absolute;
            margin: auto;
            top: -0.5rem;
            bottom: 0;
            left: 0;
            width: 0.8rem;
            height: 90%;
            background-color: #CFE41B;

            @media screen and (max-width: 769px) {
                width: 0.6rem;
            }
        }

    }

    &__text {
        
        font-weight: 700;
        color: whitesmoke;
        position: relative;
        

        .text__phrase {
            display: inline-block;
            @include textGlitch("text__phrase", 10, whitesmoke, transparent, 0.5s, 5.3s, 0.5s, 5.4s, red, green, 1500, 100);
        }

        .text__blink-dot {
            color: whitesmoke;
            margin-left: 0.25rem;
            visibility: hidden;
            white-space: nowrap;

            @keyframes blink {
                0%   {visibility: visible}
                50% {visibility: hidden}
            }
            animation: blink 1.2s infinite; 
        }
    }

    &__logo {
        width: 500px;
        max-width: 100%;
        margin-top: 4rem;
    }

    &__link {
        position: relative;
        display: inline-block;
        padding-bottom: 0.5rem;
        font-size: 80%;
        font-weight: 600;
        color: #E0DF18;

        &::after {
            content: '';
            position: absolute;
            height: 5px;
            width: 100%;
            background-color: white;
            bottom: 0;
            right: 0;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);  
        }

        &:hover, &:focus {
            color: #E0DF18;
            text-decoration: none;

            &::after {
                transform: scaleX(1);
                transform-origin: left;
                transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
            }
        }
    }

    &__scanlines {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;

        &::before, &::after {
            content: '';
            position: relative;
            width: 100%;
            height: 100%;
            display: block;
            background-image: url(../img/scanlines.png);
            background-size: 100% 100%;
            opacity: 0.2;
            animation: scrollDown 10s linear infinite;

            @keyframes scrollDown {
                0% {transform: translateY(-100%);}
                100% {transform: translateY(0%);}
            }
        }
    }

}

.what-is {
    &__video-wrapper {
        background-color: $dark-blue;
    }

    &__video-container {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        margin: 5rem 0;
        height: 0;
    }

    &__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__info-wrapper {
        margin-top: 5rem;
    }

    &__extra-info {
        text-align: center;
        margin-top: 5rem;
        background-color: $dark-blue;
        padding: 5rem 0;

        .extra-info__item {
            display: inline-block;
            margin: 2rem 6rem;
            vertical-align: top;
        }

        .extra-info__icon-container {
            display: inline-block;
            border: 0.7rem solid #cfe41b;
            border-radius: 50%;
            padding: 1.5rem;
            margin-bottom: 1.5rem;
            color: #ffffff;
        }

        .extra-info__icon {
            font-size: 5.2rem;
            height: 8rem;
            width: 8rem;
            line-height: 8rem;
        }

        .extra-info__info {
            font-size: 2rem;
            color: white;

            &--link {
                position: relative;
                color: #cfe41b;

                &::after {
                    content: '';
                    position: absolute;
                    height: 5px;
                    width: 100%;
                    background-color: white;
                    bottom: -0.5rem;
                    right: 0;
                    transform: scaleX(0);
                    transform-origin: right;
                    transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);  
                }
            }
        }

        .extra-info__item--link:hover .extra-info__info--link, .extra-info__item--link:focus .extra-info__info--link {
            color: #E0DF18;

            &::after {
                transform: scaleX(1);
                transform-origin: left;
                transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
            }
        } 
    }
}
section .more {
  text-align: center;
  margin-top: 4rem;
}

.more__text {
  display: block;
  color: #3C4C77;
  font-size: 2.5rem;
}

.more__link {
  display: inline-block;

  &:hover {

    text-decoration: none;

    & .more__icon {
        transform: scale(1.2) rotate(360deg);
    }

    & .more__text {
        color: #4D6FCC;
    }
  }

}

.more__icon {
  width: 2.6rem;
  height: 2.6rem;
  background-color: #192032;
  line-height: 2.7rem;
  border-radius: 50%;
  margin-top: 1rem;
  color: #CFE41B;
  transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}

.masthead {
    height: 300px;
    background-color: red;
    margin-bottom: 50px;
    border-bottom: 10px solid #BCE328;
    box-sizing: content-box;
    margin-top: -20px;
    background-size: cover;
    background-repeat: no-repeat;
    
    &.-about {
        background: url(../img/headers/about-header-bg.jpg);
    }

    &.-calendar {
        background: url(../img/headers/calendar-header-bg.jpg);
    }

    .masthead-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        height: 100%;
    }

    .masthead-icon {
        width: 300px;
        text-align: center;
        
        > .img {
            width: 200px;

            @media screen and (max-width: 767px) {
                width: 110px;
            }
        }
    }

    .masthead-title {
        color: white;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
        width: 500px;

        @media screen and (max-width: 992px) {
            font-size: 2em;
            width: auto;
            text-align: center;
        }
  
        &.-about {
            color: #1E293B;
            text-shadow: none;
        }
    }

}

.top {
    height: 400px;
    background-image: url('../img/header.jpg');
    background-size: cover;
    background-position: 20%;
    border-bottom: 10px solid #BCE328;
    text-align: center;
    color: white;
    position: relative;
    .content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 50%;
        height: 50%;
        margin: auto;
        h4 {
            margin-top: 20px;
        }
    }
    .btn-primary {
        background-color: $yellow;
        color: $dark-blue;
        border-color: darken($yellow, 20%);
        margin-top: 20px;
        &:hover {
            background-color: darken($yellow, 5%);
            border-color: darken($yellow, 20%);
        }
    }
}

.blog {
    a {
        &:hover {
            .blog-post {
                -webkit-filter: brightness(1.2);
            }
        }
    }
    box-sizing: border-box;
    background-color: lighten($light-gray,
    35%);
    .blog-post {
        height: 300px;
        position: relative;
    }
    .background-image {
        background-size: cover;
        display: block;
        -webkit-filter: brightness(0.4) grayscale(1) opacity(0.6);
        margin-top: 30px;
        height: 300px;
        left: 0;
        right: 0;
        z-index: 1;
    }
    .title {
        position: absolute;
        margin-right: 20px;
        margin-left: 20px;
        bottom: 20px;
        color: white;
        font-size: 2.3em;
        font-weight: bold;
        text-transform: uppercase;
        text-shadow: 0px 0px 10px black;
        z-index: 2;
    }
}

.projetos {
    .project-slot {
        text-align: center;
        color: $light-gray;
        text-transform: uppercase;
        margin-top: 40px;
        img {
            width: 100px;
        }
    }
    a:hover {
        text-decoration: none;
    }
}

.hackathon-about {
    header {
        margin-bottom: 20px;
    }
    p {
        margin-top: 20px;
    }
}

.odd {
    background-color: lighten($light-gray, 35%);
}

.pair {
    background-color: lighten($light-gray, 28%);
}

.hackathon-projects {
    header {
        margin-bottom: 20px;
    }
    .slot {
        margin-top: 20px;
        padding: 10px;
        width: 100%;
        background-color: white;
        -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3);
        .description:first-letter {
            text-transform: capitalize;
        }
        a.link-site {
            color: inherit;
            text-decoration: none;
        }
        .left {
            justify-content: flex-start !important;
        }
        .row {
            position: relative;
        }
        .vertical-align {
            display: flex;
            flex-direction: row;
        }
        .vertical-align > [class^="col-"],
        .vertical-align > [class*=" col-"] {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .title {
            font-weight: bolder;
            font-size: 1.5em;
        }
        .project-pic {
            text-align: center;
            .circle {
                width: 80%;
                height: 0;
                padding-bottom: 80%;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                border-radius: 50%;
                background-size: cover;
                div {
                    text-transform: uppercase;
                    float: left;
                    width: 100%;
                    padding-top: 50%;
                    line-height: 1em;
                    margin-top: -0.5em;
                    text-align: center;
                    font-size: 2em;
                    color: white;
                }
            }
        }
        .github-button {
            a {
                color: $light-gray;
            }
            a:hover {
                color: darken($light-gray, 35%);
            }
        }
    }
}

$jumbotron-height: 300px;
.github {
    background-color: lighten($light-gray, 35%);
    .row {
        margin-top: 40px;
    }
    .text {
        text-align: justify;
        color: $light-gray;
    }
}

#edemocracia {
    margin-top: 50px;
}

.project-section {
    a {
        color: inherit;
        &:hover {
            color: $light-gray;
            text-decoration: none;
        }
    }
    .shortcuts {
        position: relative;
        z-index: 10;
        &.l {
            float: left;
        }
        &.r {
            float: right;
        }
        font-size: 1.5em;
        .see {
            font-weight: bold;
            margin-left: 10px;
        }
        i {
            font-size: 1.3em;
            margin-right: 10px;
        }
    }
}

.lancamento {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
}

.lancamento:before {
    content: "";
    position: absolute;
    background-image: url('../img/carousel/lancamento_bg.jpg') !important;
    -webkit-filter: brightness(0.6);
    background-size: cover;
    z-index: -1;
    /* Keep the background behind the content */
    
    height: 20%;
    width: 20%;
    /* Using Glen Maddern's trick /via @mente */
    /* don't forget to use the prefixes you need */
    
    transform: scale(5);
    transform-origin: top left;
}

//colors
$color_tapa_approx: #777;
.carousel {
    //background-image: url('../img/header.jpg');
    background-size: cover;
    background-position: 20%;
    height: $jumbotron-height;
    .container {
        height: $jumbotron-height;
    }
    img.right {
        margin-top: 135px;
        width: 30px;
    }
    img.left {
        margin-top: 135px;
        width: 30px;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }
    .item {
        background-color: $dark-blue;
        background-size: cover;
        background-position-x: center;
    }
}

@media screen and (max-width: 1350px) {
    #navbar {
        max-width: 100%;
        overflow-x: hidden;
        margin-left: -30px;
    }
    .carousel-caption {
        .cover {
            img {
                width: 110px !important;
            }
        }
        .description {
            text-align: center !important;
            h1 {
                font-size: 2em;
            }
        }
    }
}

.carousel-caption {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    
    box-sizing: border-box;
    /* Opera/IE 8+ */
    
    height: 100%;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    .cover {
        width: 300px;
        img {
            width: 200px;
        }
    }
    .description {
        width: 500px;
        text-align: left;
    }
    .left-d {
        text-align: left;
    }
    .jumb-grid {}
}

.marketing {
    .col-lg-4 {
        margin-bottom: 20px;
        text-align: center;
        p {
            margin-right: 10px;
            margin-left: 10px;
        }
    }
    h2 {
        font-weight: normal;
    }
}

.featurette-divider {
    //margin: 80px 0;
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    margin-bottom: 30px;
}

@media(min-width: 768px) {
    .navbar-wrapper {
        margin-top: 20px;
        .container {
            padding-right: 15px;
            padding-left: 15px;
        }
        .navbar {
            padding-right: 0;
            padding-left: 0;
            //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
            border-radius: 4px;
        }
    }
    .featurette-heading {
        font-size: 50px;
    }
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }
}

@media(min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}

//.carousel-inner > .item > img {
//	position: absolute;
//	top: 0;
//	left: 0;
//	min-width: 100%;
//    height: $jumbotron-height;
//}
.carousel-control.left,
.carousel-control.right {
    height: $jumbotron-height;
}

.carousel-inner {
    overflow: visible;
    border-bottom: 10px solid #BCE328;
}

.projects-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
    .item {
        height: auto;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 200px;
    }
}

.btt {
    display: none;
    width: 50px;
    position: fixed;
    z-index: 99;
    bottom: 20px;
    right: 20px;
}

.btt:after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background: $dark-blue;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, 0.7);
    box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, 0.7);
}

.btt div {
    float: left;
    width: 100%;
    padding-top: 50%;
    line-height: .5em;
    margin-top: -1em;
    text-align: center;
    color: white;
}

.labhacker-team {
    @media screen and (max-width: 992px) {
        text-align: center;
        .avatar {
            margin-left: auto;
            margin-right: auto;
        }
    }
    margin-top: 50px;
    h2 {
        margin-bottom: 50px;
    }
    .card {
        margin-bottom: 20px;
        min-height: 90px;
    }
    .avatar {
        width: 80px;
        height: 80px;
        background-size: cover !important;
        border-radius: 150px;
        -webkit-border-radius: 150px;
        -moz-border-radius: 150px;
    }
    .name {
        color: darkslategray;
        font-weight: bolder;
    }
    .function {
        opacity: .7;
        font-size: 1.1em;
    }

.font-size-large {
    font-size: 1.8rem;
}

.font-size-larger {
    font-size: 2rem;
}