// Core variables and mixins
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";

// Reset and dependencies
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/normalize";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/print";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/glyphicons";

// Core CSS
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/scaffolding";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/type";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/code";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/grid";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/tables";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/forms";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/buttons";

// Components
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/component-animations";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/dropdowns";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/button-groups";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/input-groups";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/navs";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/navbar";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/breadcrumbs";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/pagination";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/pager";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/labels";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/badges";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/jumbotron";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/thumbnails";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/alerts";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/progress-bars";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/media";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/list-group";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/panels";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-embed";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/wells";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/close";

// Components w/ JavaScript
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/modals";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/tooltip";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/popovers";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/carousel";

// Utility classes
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/utilities";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-utilities";


$light-gray : #8E8E8E;
$dark-blue : #2F3F4E;
$yellow : #BCE328;

body {
  font-family: 'Oswald';
}

html, body {
    overflow-x: hidden;
}

body {
	overflow-y: hidden;
}

a:hover {
  color: $dark-blue;
}

section {
  padding-top: 20px;
  padding-bottom: 40px;
  .info {
    margin-top: 20px;
    line-height: 20px;
    i {
      margin-right: 10px;
    }
    a {
      color: #333333;
    }
  }
}

header {
  a {
    color: $light-gray;
    &:hover {
      text-decoration: none;
    }
  }
  .more {
    float: right;
    font-size: 1.3em;
  }
}

footer {
  background-color: $dark-blue;
  padding-top: 20px;
  padding-bottom: 40px;
  color: white;
  margin-bottom: -15px;
  a {
    color: white;
    opacity: 0.6;
    &:hover {
      opacity: 1;
      color: white;
      text-decoration: none;
    }
  }
  .text {
    text-align: justify;
    opacity: 0.6;
  }
}

  .navbar-header {
    max-width: 100%;
    img {
      width: 100%;
    }
  }

.nav-top {
  font-family: 'Oswald';
  margin-bottom: 0px;
  .logo {
      margin-left: -45px;
    }
  .navbar-toggle {
    background-color: lighten($light-gray, 35%);
    position: absolute;
    top: 10px;
    right: 0;    
    .icon-bar {
      background-color: $light-gray;
    }
  }
  .in, .collapsing {
    ul {
      width: 100%;
      margin-right: 5px;
    }
    .icon {
      margin-left: -2px !important;
      padding: 0;
      margin-top: 15px;
      margin-left: 15px !important;
      margin-bottom: 2px;
    }
    .icon-img {
      margin-left: 18px !important;
    }
    .separator {
      display: none;
    }
    li {
      border-top: 1px solid lighten($light-gray, 35%);
    }
  }
  .nav.navbar-nav {    
    padding: 40px 0px 40px 0px;
    margin-right: -45px;
    float: right;   
    span {
      margin-top: -10px;
    }
    .separator {
      width: 30px;
    }
    a {
      color: $light-gray;
      background-color: transparent;
      &:hover {
        background: transparent;
        color: $dark-blue;
      }
    }
    .icon-img {
      margin: 6px 17px 6px 6px;
      width: 33px;
      height: 33px;
      background-size: 100%;
      &:hover {
        background-position-y: 100%;
        background-size: 100%;
      }
    }    
    .icon-img.edemocracia {
      background-image: url('../img/icon-e-democracia.png');
    }
    .icon-img.hackdash {
      background-image: url('../img/icon-hackdash.png');
    }
    a.github {
      margin-left: -10px;
      &:hover {
        color: #333;
      }
    }
    a.twitter {
      margin-left: -10px;
      &:hover {
        color: #4099FF;
      }
    }
    a.facebook {
      margin-left: -10px;
      &:hover {
        color: #3B5998;
      }
    }
    a.flickr {
      margin-left: -10px;
      &:hover {
        color: #FF0084;
      }
    }
    li {
      text-transform: uppercase;
    }
  }
}

.top {
  height: 400px;
  background-image: url('../img/header.jpg');
  background-size: cover;
  background-position: 20%;
  border-bottom: 10px solid #BCE328;
  text-align: center;
  color: white;
  position: relative;
  .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 50%;
    margin: auto;
    h4 {
      margin-top: 20px;
    }
  }
  .btn-primary {
    background-color: $yellow;
    color: $dark-blue;
    border-color: darken($yellow, 20%);
    margin-top: 20px;
    &:hover {
      background-color: darken($yellow, 5%);
      border-color: darken($yellow, 20%);
    }
  }
}

.blog {
  background-color: lighten($light-gray, 35%);
  .post-slot {
    margin-top: 30px;
    padding: 20px;
    height: 300px;
    background-size: cover;
    background-position: center;
    .title {
      position: absolute;
      margin-right: 20px;
      bottom: 20px;
      color: white;
      font-size: 2.3em;
      font-weight: bold;
      text-transform: uppercase;
      text-shadow: 0px 0px 10px black;
    }
  }
}

.projetos {
  .project-slot {
    text-align: center;
    color: $light-gray;
    text-transform: uppercase;
    margin-top: 40px;
    img {
      width: 100px;
    }
  }
  a:hover {
    text-decoration: none;
  }
}

.hackathon-about {
	header {
		margin-bottom: 20px;
	}
	p {
		margin-top: 20px;
	}
}

.odd {
	background-color: lighten($light-gray, 35%);
}

.pair {
	background-color: lighten($light-gray, 28%);
}

.hackathon-projects {
	header {
		margin-bottom: 20px;
	}
	.slot {
		margin-top: 20px;
		padding: 10px;
		width: 100%;
		background-color: white;
		-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.3);
		-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.3);
		box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.3);
		.description:first-letter {
			text-transform: capitalize;
		}
		a.link-site {
			color: inherit;
			text-decoration: none;
		}
		.left {
			justify-content: flex-start !important;
		}
		.row {
			position: relative;
		}
		.vertical-align {
		  display: flex;
		  flex-direction: row;
		}

		.vertical-align > [class^="col-"],
		.vertical-align > [class*=" col-"] {
		  display: flex;
		  align-items: center;
		  justify-content: center; 
		}
		.title {
			font-weight: bolder;
			font-size: 1.5em;
		}
		.project-pic {
			text-align: center;
			.circle {
				width: 80%;
				height:0;
				padding-bottom: 80%;
				-moz-border-radius: 50%; 
				-webkit-border-radius: 50%; 
				border-radius: 50%;
				background-size: cover;
				div {
					text-transform: uppercase;
					float: left;
					width: 100%;
					padding-top: 50%;
					line-height: 1em;
					margin-top: -0.5em;
					text-align: center;
					font-size: 2em;
					color: white;
				}
			}
		}
		.github-button {
			a {
				color: $light-gray;
			}
			a:hover {
				color: darken($light-gray, 35%);
			}
		}
	}
}

$jumbotron-height: 400px;

.github {
  background-color: lighten($light-gray, 35%);
  .row {
    margin-top: 40px;
  }
  .text {
    text-align: justify;
    color: $light-gray;
  }
}

#edemocracia {
  margin-top: 50px;
}

.project-section {
  a {
    color: inherit;
    &:hover {
      color: $light-gray;
      text-decoration: none;
    }
  }    
  .shortcuts {
	&.l {
		float: left;
	}
	&.r {
		float: right;
	}
    font-size: 1.5em;    
    .see {
      font-weight: bold;
      margin-left: 10px;      
    }
    i {
      font-size: 1.3em;
      margin-right: 10px;
    }
  }
}

//colors
$color_tapa_approx: #777;

.carousel {
    //background-image: url('../img/header.jpg');
	background-size: cover;
	background-position: 20%;
	border-bottom: 10px solid #BCE328;
	height: $jumbotron-height;
	.container {
		height: $jumbotron-height;
	}
	img.right {
		margin-top: $jumbotron-height/2;
		width: 30px;
	}
	img.left {		
		margin-top: $jumbotron-height/2;
		width: 30px;
		-moz-transform: scaleX(-1);
		-o-transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
		filter: FlipH;
		-ms-filter: "FlipH";
	}
	.item {		
		background-color: $dark-blue;
		background-size: cover;
		background-position-x: center;
	}
}
.carousel-caption {
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
	height: 350px;
	img {
		width: 150px !important;

	}
	.left-d {
		text-align: left;
	}
	.jumb-grid {
	}
}
.marketing {
	.col-lg-4 {
		margin-bottom: 20px;
		text-align: center;
		p {
			margin-right: 10px;
			margin-left: 10px;
		}
	}
	h2 {
		font-weight: normal;
	}
}
.featurette-divider {
	margin: 80px 0;
}
.featurette-heading {
	font-weight: 300;
	line-height: 1;
    margin-bottom: 30px;
}
@media(min-width: 768px) {
	.navbar-wrapper {
		margin-top: 20px;
		.container {
			padding-right: 15px;
			padding-left: 15px;
		}
		.navbar {
			padding-right: 0;
			padding-left: 0;
			//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
			border-radius: 4px;
		}
	}
	.featurette-heading {
		font-size: 50px;
	}
	.carousel-caption p {
		margin-bottom: 20px;
		font-size: 21px;
		line-height: 1.4;
	}
}
@media(min-width: 992px) {
	.featurette-heading {
		margin-top: 120px;
	}
}
//.carousel-inner > .item > img {
//	position: absolute;
//	top: 0;
//	left: 0;
//	min-width: 100%;
//    height: $jumbotron-height;
//}

.carousel-control.left, .carousel-control.right {
  height: $jumbotron-height;
}

.carousel-inner {
	overflow: visible;
}
