<section class="projetos">
    <div class="container">
        <header>
            <h1>Sobre</h1>
        </header>
        <div class="row">
            <div class="col-md-3">
                <img src="{{ assets }}/img/labhacker-icon.png" />
                <div class="info">
                    <p><a target="_blank" href="https://docs.google.com/document/d/10QS7geZm6FpFGhJYNUa8iywQ9_22KNfMMBHI-irfCD8/edit?usp=sharing"><i class="fa fa-2x fa-check-square-o"></i> Regras de convivência</a>
                    </p>
                    <p><i class="fa fa-2x fa-phone"></i> +55 (61) 3216-6003</p>
                    <p><i class="fa fa-2x fa-envelope"></i> labhacker@camara.leg.br</p>

                </div>
            </div>
            <div class="col-md-9">
                <p>
                    O Laboratório Hacker da Câmara dos Deputados, criado pela Resolução 49 de 2013, conta com espaço físico de acesso e uso livres para qualquer cidadão, especialmente programadores e desenvolvedores de softwares, que poderão utilizar dados públicos para ações de cidadania.
                </p>
                <p>
                    Nosso objetivo, portanto, é promover ações colaborativas visando o aprimoramento da transparência legislativa e da participação popular.
                </p>
                <p>
                    Visite-nos no Anexo IV da Câmara dos Deputados, Subsolo, Sala 90.
                </p>

                <div class="labhacker-team">
                    <h2>Equipe do Labhacker</h2>
                    <div class="row">

                        <div class="row">

                            <div class="col-md-6 card">
                                <div class="col-md-3">
                                    <div class="avatar" style="background: url(http://gurucul.com/wp-content/uploads/2015/01/default-user-icon-profile.png) no-repeat;"></div>
                                </div>
                                <div class="col-md-9">
                                    <h4 class="name">Cristiano Ferri Soares de Faria</h4>
                                    <span class="function">Diretor</span>
                                </div>
                            </div>

                            <div class="col-md-6 card">
                                <div class="col-md-3">
                                    <div class="avatar" style="background: url(http://gurucul.com/wp-content/uploads/2015/01/default-user-icon-profile.png) no-repeat;"></div>
                                </div>
                                <div class="col-md-9">
                                    <h4 class="name">Rogério Scheidemantel</h4>
                                    <span class="function">Diretor-Adjunto</span>
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-6 card">
                                <div class="col-md-3">
                                    <div class="avatar" style="background: url(http://gurucul.com/wp-content/uploads/2015/01/default-user-icon-profile.png) no-repeat;"></div>
                                </div>
                                <div class="col-md-9">
                                    <h4 class="name">Daniel Shim De Sousa Esashika</h4>
                                    <span class="function">Chefe da Seção de Acompanhamento de Redes Sociais</span>
                                </div>
                            </div>

                            <div class="col-md-6 card">
                                <div class="col-md-3">
                                    <div class="avatar" style="background: url(http://gurucul.com/wp-content/uploads/2015/01/default-user-icon-profile.png) no-repeat;"></div>
                                </div>
                                <div class="col-md-9">
                                    <h4 class="name">Pedro Guerra Brandão</h4>
                                    <span class="function">Gestor de tecnologia</span>
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-6 card">
                                <div class="col-md-3">
                                    <div class="avatar" style="background: url(http://gurucul.com/wp-content/uploads/2015/01/default-user-icon-profile.png) no-repeat;"></div>
                                </div>
                                <div class="col-md-9">
                                    <h4 class="name">Thiago Lopes Carneiro</h4>
                                    <span class="function">Gestor de projetos de participação digital</span>
                                </div>
                            </div>

                            <div class="col-md-6 card">
                                <div class="col-md-3">
                                    <div class="avatar" style="background: url(http://gurucul.com/wp-content/uploads/2015/01/default-user-icon-profile.png) no-repeat;"></div>
                                </div>
                                <div class="col-md-9">
                                    <h4 class="name">Simone Ravazzolli</h4>
                                    <span class="function">Chefe da Seção Fomento à Cidadania</span>
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-6 card">
                                <div class="col-md-3">
                                    <div class="avatar" style="background: url(http://gurucul.com/wp-content/uploads/2015/01/default-user-icon-profile.png) no-repeat;"></div>
                                </div>
                                <div class="col-md-9">
                                    <h4 class="name">Cristiana de Araújo e Borges</h4>
                                    <span class="function">Assessora para projetos colaborativos e articulação de redes</span>
                                </div>
                            </div>

                            <div class="col-md-6 card">
                                <div class="col-md-3">
                                    <div class="avatar" style="background: url(http://gurucul.com/wp-content/uploads/2015/01/default-user-icon-profile.png) no-repeat;"></div>
                                </div>
                                <div class="col-md-9">
                                    <h4 class="name">Walternor Brandão</h4>
                                    <span class="function">Chefe da Seção de Gestão do Portal e-Democracia</span>
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-6 card">
                                <div class="col-md-3">
                                    <div class="avatar" style="background: url(http://gurucul.com/wp-content/uploads/2015/01/default-user-icon-profile.png) no-repeat;"></div>
                                </div>
                                <div class="col-md-9">
                                    <h4 class="name">Diego Cavalcanti Cunha</h4>
                                    <span class="function">Assessor para o Portal e-Democracia</span>
                                </div>
                            </div>

                            <div class="col-md-6 card">
                                <div class="col-md-3">
                                    <div class="avatar" style="background: url(http://gurucul.com/wp-content/uploads/2015/01/default-user-icon-profile.png) no-repeat;"></div>
                                </div>
                                <div class="col-md-9">
                                    <h4 class="name">Luciana De Souza Ribeiro</h4>
                                    <span class="function">Assessora para o Portal e-Democracia</span>
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-6 card">
                                <div class="col-md-3">
                                    <div class="avatar" style="background: url(http://gurucul.com/wp-content/uploads/2015/01/default-user-icon-profile.png) no-repeat;"></div>
                                </div>
                                <div class="col-md-9">
                                    <h4 class="name">Dirley Rodrigues Lima da Silva</h4>
                                    <span class="function">Programador</span>
                                </div>
                            </div>

                            <div class="col-md-6 card">
                                <div class="col-md-3">
                                    <div class="avatar" style="background: url(http://gurucul.com/wp-content/uploads/2015/01/default-user-icon-profile.png) no-repeat;"></div>
                                </div>
                                <div class="col-md-9">
                                    <h4 class="name">Erivânio Rodolfo Vasconcelos de Souza</h4>
                                    <span class="function">Programador</span>
                                </div>
                            </div>

                        </div>

                        <div class="row">


                            <div class="col-md-6 card">
                                <div class="col-md-3">
                                    <div class="avatar" style="background: url(http://gurucul.com/wp-content/uploads/2015/01/default-user-icon-profile.png) no-repeat;"></div>
                                </div>
                                <div class="col-md-9">
                                    <h4 class="name">Fellype do Nascimento Silva</h4>
                                    <span class="function">Desenvolvedor Front-end</span>
                                </div>
                            </div>
                            
                            <div class="col-md-6 card">
                                <div class="col-md-3">
                                    <div class="avatar" style="background: url(http://gurucul.com/wp-content/uploads/2015/01/default-user-icon-profile.png) no-repeat;"></div>
                                </div>
                                <div class="col-md-9">
                                    <h4 class="name">João Lúcio Dreyer Lomonaco</h4>
                                    <span class="function">Designer</span>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
<a href="#">
    <div class="btt">
        <div><i class="fa fa-angle-up fa-2x"></i>
        </div>
    </div>
</a>