<section class="projetos">

    <header class="masthead -about">
        <div class="container masthead-content">
            <div class="masthead-icon">
                <img class="img" src="assets/img/headers/about-icon.png" alt="sobre">
            </div>
            <h1 class="masthead-title -about">Sobre o Laboratório Hacker</h1>
        </div>    
    </header>

    <div class="container">
        <div class="row">
            
            <div class="col-sm-12">
                <p>
                    O Laboratório Hacker da Câmara dos Deputados, criado pela Resolução 49 de 2013, conta com espaço físico de acesso e uso livres para qualquer cidadão, especialmente programadores e desenvolvedores de softwares, que poderão utilizar dados públicos para ações de cidadania.
                </p>
                <p>
                    Nosso objetivo, portanto, é promover ações colaborativas visando o aprimoramento da transparência legislativa e da participação popular.
                </p>
                <p>
                    Visite-nos no Anexo IV da Câmara dos Deputados, Subsolo, Sala 90.
                </p>

            </div>

            <div class="col-sm-12">
                <div class="info">
                    <p><a target="_blank" href="https://docs.google.com/document/d/10QS7geZm6FpFGhJYNUa8iywQ9_22KNfMMBHI-irfCD8/edit?usp=sharing"><i class="fa fa-2x fa-check-square-o"></i> Regras de convivência</a>
                    </p>
                    <p><i class="fa fa-2x fa-phone"></i> +55 (61) 3216-6003</p>
                    <p><i class="fa fa-2x fa-envelope"></i> labhacker@camara.leg.br</p>

                </div>
            </div>

            <div class="labhacker-team col-sm-12">
                <h2>Equipe do Labhacker</h2>
                <div class="row">
                    {{#each contributors }}
                        <div class="col-xs-12 col-sm-6 col-lg-4 card">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="avatar" style="background: url({{ photo }}) no-repeat;"></div>
                                </div>
                                <div class="col-md-9">
                                    <h4 class="name">{{ name }}</h4>
                                    <span class="function">{{ description }}</span>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>

</section>
<a href="#">
    <div class="btt">
        <div><i class="fa fa-angle-up fa-2x"></i>
        </div>
    </div>
</a>