<section class="hackathon-about">
  <div class="container">
    <header>
      <h1>Projetos Hackathon</h1>
    </header>
    <div class="row">
      <div class="col-md-12">
        <p>Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?</p>
        <p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends.</p>
      </div>
    </div>
  </div>
</section>
<section class="hackathon-projects">
  <div class="container">
    <header>
      <h1>2014 - Hackathon de Gênero e Cidadania</h1>
    </header>
    <div class="row">
      <div class="col-md-6">
        <div class="slot">
          <div class="row vertical-align">
            <div class="col-xs-3 project-pic">
              <div class="circle" style="background-image: url('{{ assets }}/img/placeholder.jpg')"></div>
            </div>
            <div class="col-xs-7">
              <div class="project-info">
                <h5 class="title">PRÓmulher</h5>
                <p class="description">Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while I'm in a transitional period.</p>
              </div>
            </div>
            <div class="col-xs-2 github-button">
              <i class="fa fa-github fa-3x"></i>
            </div>
          </div>
        </div>
        

      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>
</section>
