<section class="hackathon-about" id="hackathons">
  <div class="container">
    <header>
      <h1>Projetos Hackathon</h1>
    </header>
    <div class="row">
      <div class="col-md-12">
        <p>O Hackathon é uma maratona que reúne hackers, programadores, desenvolvedores e inventores para criar projetos que transformem informações de interesse público em soluções digitais, acessíveis a todos os cidadãos.</p>
        <p>Conheça a seguir os projetos que foram desenvolvidos nos Hackathons do Laboratório Hacker da Câmara dos Deputados.</p>
      </div>
    </div>
  </div>
</section>
<section class="hackathon-projects odd">
  <div class="container">
    <header>
      <h1>2014 - Hackathon de Gênero e Cidadania</h1>
    </header>
    <div class="row">
      <div class="col-md-6">
        <!--<div class="slot">
          <div class="row vertical-align">
            <div class="col-xs-3 project-pic">
              <div class="circle"><div class="circle-label"></div></div>
            </div>
            <div class="col-xs-7 left">
              <a class="link-site" href="placeholder">
                <div class="project-info">
                  <h5 class="title">placeholder</h5>
                  <p class="description"></p>
                </div>
              </a>
            </div>
            <div class="col-xs-2 github-button">
              <a href="placeholder">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div> -->
        <div class="slot">
          <div class="row vertical-align">
            <div class="col-xs-3 project-pic">
              <div class="circle"><div class="circle-label"></div></div>              
            </div>
            <div class="col-xs-7 left">
              <a class="link-site" href="http://acaorosa.wordpress.com">
              <div class="project-info">
                <h5 class="title">Ação Rosa</h5>
                <p class="description">envio de postagens sobre ações da Câmara e o Senado sobre violência contra a mulher.</p>
              </div>
              </a>
            </div>
            <div class="col-xs-2 github-button">
              <a href="https://github.com/jyoshiriro/acaorosa"><i class="fa fa-github fa-2x"></i></a>
            </div>
          </div>
        </div>
        <div class="slot">
          <div class="row vertical-align">
            <div class="col-xs-3 project-pic">
              <div class="circle"><div class="circle-label"></div></div>
            </div>
            <div class="col-xs-7 left">
              <a class="link-site" href="http://www.notap.me">
                <div class="project-info">
                  <h5 class="title">Notap.me</h5>
                  <p class="description">botão de pânico que pode ser acionado por uma possível vítima de assédio.</p>
                </div>
              </a>
            </div>
            <div class="col-xs-2 github-button">
              <a href="https://github.com/thacker/botao-do-panico">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="slot">
          <div class="row vertical-align">
            <div class="col-xs-3 project-pic">
              <div class="circle"><div class="circle-label"></div></div>
            </div>
            <div class="col-xs-7 left">
              <a class="link-site" href="https://play.google.com/store/apps/details?id=br.com.PartoHumanizado">
                <div class="project-info">
                  <h5 class="title">Parto Humanizado</h5>
                  <p class="description">visa informar sobre o que é a violência obstétrica.</p>
                </div>
              </a>
            </div>
            <div class="col-xs-2 github-button">
              <a href="https://github.com/Dlimaun/PartoHumanizado">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
          <div class="slot">
          <div class="row vertical-align">
            <div class="col-xs-3 project-pic">
              <div class="circle"><div class="circle-label"></div></div>
            </div>
            <div class="col-xs-7 left">
              <a class="link-site" href="http://promulher.estadovirtual.com.br">
                <div class="project-info">
                  <h5 class="title">Pro-Mulher</h5>
                  <p class="description">Gera estatísticas de risco da violência contra a mulher e exibe informações sobre rede de ajuda e legislação.</p>
                </div>
              </a>
            </div>
            <div class="col-xs-2 github-button">
              <a href="https://win5.estadovirtual.com.br:7777/svn/mulher_app/">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="slot">
          <div class="row vertical-align">
            <div class="col-xs-3 project-pic">
              <div class="circle"><div class="circle-label"></div></div>
            </div>
            <div class="col-xs-7 left">
              <a class="link-site" href="http://www.procid.com.br">
                <div class="project-info">
                  <h5 class="title">Procid</h5>
                  <p class="description">possibilita a educação para cidadania e valores humanos.</p>
                </div>
              </a>
            </div>
            <div class="col-xs-2 github-button">
              <a href="https://github.com/varga/procid">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="slot">
          <div class="row vertical-align">
            <div class="col-xs-3 project-pic">
              <div class="circle"><div class="circle-label"></div></div>
            </div>
            <div class="col-xs-7 left">
              <a class="link-site" href="http://www.minhavoz.com">
                <div class="project-info">
                  <h5 class="title">Minha Voz</h5>
                  <p class="description">Oferece espaço anônimo para denúncia de violência contra a mulher e gera um retrato da situação nacional quanto ao tema.</p>
                </div>
              </a>
            </div>
            <div class="col-xs-2 github-button">
              <a href="https://github.com/saletefarias/Minha-Voz">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="slot">
          <div class="row vertical-align">
            <div class="col-xs-3 project-pic">
              <div class="circle"><div class="circle-label"></div></div>
            </div>
            <div class="col-xs-7 left">
              <a class="link-site" href="http://eutirei.cardume.art.br">
                <div class="project-info">
                  <h5 class="title">Eu Tirei</h5>
                  <p class="description">Fornece forma anônima e segura para compartilhar relatos de mulheres que realizaram aborto. Visualização de dados sobre os abortos no Brasil.</p>
                </div>
              </a>
            </div>
            <div class="col-xs-2 github-button">
              <a href="http://github.com/miguelpeixe/eutirei">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="slot">
          <div class="row vertical-align">
            <div class="col-xs-3 project-pic">
              <div class="circle"><div class="circle-label"></div></div>
            </div>
            <div class="col-xs-7 left">
              <a class="link-site" href="http://marquedenuncia.heroku.com/">
                <div class="project-info">
                  <h5 class="title">Marque Denúncia</h5>
                  <p class="description">ferramenta para que mulheres (cis e transexuais) que sofreram algum tipo de violência, nos serviços públicos, possam registrar sua experiência.</p>
                </div>
              </a>
            </div>
            <div class="col-xs-2 github-button">
              <a href="https://github.com/larissa/marque-denuncia">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="slot">
          <div class="row vertical-align">
            <div class="col-xs-3 project-pic">
              <div class="circle"><div class="circle-label"></div></div>
            </div>
            <div class="col-xs-7 left">
              <a class="link-site" href="http://deliberamulheres.herokuapp.com/">
                <div class="project-info">
                  <h5 class="title">Delibera Mulheres</h5>
                  <p class="description">versão temática (projetos de gênero) do jogo Deliberatório.</p>
                </div>
              </a>
            </div>
            <div class="col-xs-2 github-button">
              <a href="https://github.com/danielafeitosa/deliberamulheres/">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="slot">
          <div class="row vertical-align">
            <div class="col-xs-3 project-pic">
              <div class="circle"><div class="circle-label"></div></div>
            </div>
            <div class="col-xs-7 left">
              <a class="link-site" href="https://donamaria.herokuapp.com/">
                <div class="project-info">
                  <h5 class="title">Dona Maria</h5>
                  <p class="description">Conscientizar o eleitorado sobre desigualdades de gênero existentes no processo eleitoral brasileiro.</p>
                </div>
              </a>
            </div>
            <div class="col-xs-2 github-button">
              <a href="https://github.com/Bouckaert/donamaria">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <div class="slot">
          <div class="row vertical-align">
            <div class="col-xs-3 project-pic">
              <div class="circle"><div class="circle-label"></div></div>
            </div>
            <div class="col-xs-7 left">
              <a class="link-site" href="http://www.meucongressonacional.com/mulher">
                <div class="project-info">
                  <h5 class="title">Mulheres no Congresso Nacional</h5>
                  <p class="description">Apresenta informações sobre atuação feminina no  Poder Legislativo e no processo eleitoral.</p>
                </div>
              </a>
            </div>
            <div class="col-xs-2 github-button">
              <a href="http://www.meucongressonacional.com/mulher/fonte">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="slot">
          <div class="row vertical-align">
            <div class="col-xs-3 project-pic">
              <div class="circle"><div class="circle-label"></div></div>
            </div>
            <div class="col-xs-7 left">
              <a class="link-site" href="http://www.participamulher.org">
                <div class="project-info">
                  <h5 class="title">Participa, Mulher!</h5>
                  <p class="description">integra dados e informações sobre finanças públicas, legislação e canais de serviços.</p>
                </div>
              </a>
            </div>
            <div class="col-xs-2 github-button">
              <a href="https://github.com/gabrielpita7/Participa-Mulher">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="slot">
          <div class="row vertical-align">
            <div class="col-xs-3 project-pic">
              <div class="circle"><div class="circle-label"></div></div>
            </div>
            <div class="col-xs-7 left">
              <a class="link-site" href="http://abimaelcuri.com/myrthes/">
                <div class="project-info">
                  <h5 class="title">Myrthes</h5>
                  <p class="description">rede social para troca de informações entre mulheres vítimas de violência e voluntários.</p>
                </div>
              </a>
            </div>
            <div class="col-xs-2 github-button">
              <a href="https://github.com/abimaelcuri/Myrthes">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="slot">
          <div class="row vertical-align">
            <div class="col-xs-3 project-pic">
              <div class="circle"><div class="circle-label"></div></div>
            </div>
            <div class="col-xs-7 left">
              <a class="link-site" href="http://interagentes.net/hackatongenero/">
                <div class="project-info">
                  <h5 class="title">Dinâmica da participação feminina no Congresso</h5>
                  <p class="description">identifica padrões no comportamento de parlamentares em relação a questões de gênero.</p>
                </div>
              </a>
            </div>
            <div class="col-xs-2 github-button">
              <a href="http://interagentes.net/hackatongenero/cod">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="slot">
          <div class="row vertical-align">
            <div class="col-xs-3 project-pic">
              <div class="circle"><div class="circle-label"></div></div>
            </div>
            <div class="col-xs-7 left">
              <a class="link-site" href="http://ribeiroana.github.io/grrlhacks/">
                <div class="project-info">
                  <h5 class="title">Grrl hacks</h5>
                  <p class="description">divulga e mapeia startups e pesquisas na área de tecnologia lideradas por mulheres.</p>
                </div>
              </a>
            </div>
            <div class="col-xs-2 github-button">
              <a href="https://github.com/RibeiroAna/grrlhacks/tree/gh-pages">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="slot">
          <div class="row vertical-align">
            <div class="col-xs-3 project-pic">
              <div class="circle"><div class="circle-label"></div></div>
            </div>
            <div class="col-xs-7 left">
              <a class="link-site" href="https://epemulher.proto.io/share/?id=e0f7694f-09b5-4e99-8fbd-7fcf6f2a79c0&v=2">
                <div class="project-info">
                  <h5 class="title">Procuradoria Especial da Mulher</h5>
                  <p class="description">app que orienta a criação de uma Procuradoria Especial da Mulher em estados e municípios.</p>
                </div>
              </a>
            </div>
            <div class="col-xs-2 github-button">
              <a href="https://github.com/dmsimoes/Hackathon---EPM/">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="slot">
          <div class="row vertical-align">
            <div class="col-xs-3 project-pic">
              <div class="circle"><div class="circle-label"></div></div>
            </div>
            <div class="col-xs-7 left">
              <a class="link-site" href="http://www.tabuleka.com.br">
                <div class="project-info">
                  <h5 class="title">Tabuleka</h5>
                  <p class="description">jogos educativos de cidadania participativa para mulheres.</p>
                </div>
              </a>
            </div>
            <div class="col-xs-2 github-button">
              <a href="https://github.com/ivorafael/hackathon-genero-cm-game">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="slot">
          <div class="row vertical-align">
            <div class="col-xs-3 project-pic">
              <div class="circle"><div class="circle-label"></div></div>
            </div>
            <div class="col-xs-7 left">
              <a class="link-site" href="http://www.dadosligados.com.br/">
                <div class="project-info">
                  <h5 class="title">Dados Ligados</h5>
                  <p class="description">Pretende publicar e interligar dados estruturados sobre questões de gênero na Web.</p>
                </div>
              </a>
            </div>
            <div class="col-xs-2 github-button">
              <a href="https://github.com/gazzola/dadosligados">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="slot">
          <div class="row vertical-align">
            <div class="col-xs-3 project-pic">
              <div class="circle"><div class="circle-label"></div></div>
            </div>
            <div class="col-xs-7 left">
              <a class="link-site" href="http://www.freeda.me">
                <div class="project-info">
                  <h5 class="title">Freeda</h5>
                  <p class="description">Aplicativo para avaliar de forma colaborativa serviços que respeitam a diversidade sexual e de gênero.</p>
                </div>
              </a>
            </div>
            <div class="col-xs-2 github-button">
              <a href="https://github.com/projetofreeda/freeda">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>
<section class="hackathon-projects pair">
  <div class="container">
    <header>
      <h1>2013 - Hackathon de Transparência legislativa e participação popular</h1>
    </header>
    <div class="row">
      <div class="col-md-6">        
        <div class="slot">
          <div class="row vertical-align">
            <div class="col-xs-3 project-pic">
              <div class="circle"><div class="circle-label"></div></div>
            </div>
            <div class="col-xs-7 left">
              <a class="link-site" href="http://www.vigiapolitico.com.br/">
                <div class="project-info">
                  <h5 class="title">Vigia Político</h5>
                  <p class="description">sistema de recomendação de temas legislativos.</p>
                </div>
              </a>
            </div>
            <div class="col-xs-2 github-button">
              <a href="https://github.com/cidadao-automatico">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="slot">
          <div class="row vertical-align">
            <div class="col-xs-3 project-pic">
              <div class="circle"><div class="circle-label"></div></div>
            </div>
            <div class="col-xs-7 left">
              <a class="link-site" href="http://www.immi-br.org">
                <div class="project-info">
                  <h5 class="title">IMMI</h5>
                  <p class="description">criação de um e-CPF para participação digital</p>
                </div>
              </a>
            </div>
            <div class="col-xs-2 github-button">
              <a href="https://bitbucket.org/immibr/">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="slot">
          <div class="row vertical-align">
            <div class="col-xs-3 project-pic">
              <div class="circle"><div class="circle-label"></div></div>
            </div>
            <div class="col-xs-7 left">
              <a class="link-site" href="http://radarparlamentar.polignu.org/genero">
                <div class="project-info">
                  <h5 class="title">Gênero & Participação</h5>
                  <p class="description"></p>
                </div>
              </a>
            </div>
            <div class="col-xs-2 github-button">
              <a href="https://github.com/leonardofl/radar_parlamentar/">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="slot">
          <div class="row vertical-align">
            <div class="col-xs-3 project-pic">
              <div class="circle"><div class="circle-label"></div></div>
            </div>
            <div class="col-xs-7 left">
              <a class="link-site" href="http://gastromagia.com/E-democracia/#p=app_home">
                <div class="project-info">
                  <h5 class="title">e-democracia App</h5>
                  <p class="description">design de um app para o Portal e-Democracia</p>
                </div>
              </a>
            </div>
            <div class="col-xs-2 github-button">
              <a href="http://gastromagia.com/E-democracia/#p=app_home">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="slot">
          <div class="row vertical-align">
            <div class="col-xs-3 project-pic">
              <div class="circle"><div class="circle-label"></div></div>
            </div>
            <div class="col-xs-7 left">
              <a class="link-site" href="http://apps.thacker.com.br/biscoitinho/29-10-2013/fake">
                <div class="project-info">
                  <h5 class="title">Extrato Legislativo</h5>
                  <p class="description">impressão de informações de sessões legislativas</p>
                </div>
              </a>
            </div>
            <div class="col-xs-2 github-button">
              <a href="https://github.com/pmarkun/biscoitinho">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="slot">
          <div class="row vertical-align">
            <div class="col-xs-3 project-pic">
              <div class="circle"><div class="circle-label"></div></div>
            </div>
            <div class="col-xs-7 left">
              <a class="link-site" href="http://devupsolucoes.com/hackathon/">
                <div class="project-info">
                  <h5 class="title">TEMA (Tema Extraído de Maneira Automática)</h5>
                  <p class="description">sintetiza discursos parlamentares</p>
                </div>
              </a>
            </div>
            <div class="col-xs-2 github-button">
              <a href="https://github.com/fernandoasevedo/tema">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="slot">
          <div class="row vertical-align">
            <div class="col-xs-3 project-pic">
              <div class="circle"><div class="circle-label"></div></div>
            </div>
            <div class="col-xs-7 left">
              <a class="link-site" href="http://www.retoricaparlamentar.com">
                <div class="project-info">
                  <h5 class="title">Retórica</h5>
                  <p class="description">apresenta os temas mais debatidos no Plenário em forma de bolhas</p>
                </div>
              </a>
            </div>
            <div class="col-xs-2 github-button">
              <a href="https://github.com/luiscarli/Retorica">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="slot">
          <div class="row vertical-align">
            <div class="col-xs-3 project-pic">
              <div class="circle"><div class="circle-label"></div></div>
            </div>
            <div class="col-xs-7 left">
              <a class="link-site" href="https://chrome.google.com/webstore/detail/oi-câmara/fmmbgnkciddfgghniaonobpdfgipdejb">
                <div class="project-info">
                  <h5 class="title">oi câmara</h5>
                  <p class="description">aplicativo que possibilita a navegação no site da Câmara por comando de voz</p>
                </div>
              </a>
            </div>
            <div class="col-xs-2 github-button">
              <a href="https://github.com/luisleao/oicamara">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="slot">
          <div class="row vertical-align">
            <div class="col-xs-3 project-pic">
              <div class="circle"><div class="circle-label"></div></div>
            </div>
            <div class="col-xs-7 left">
              <a class="link-site" href="https://play.google.com/store/apps/details?id=com.gamfig.monitorabrasil https://itunes.apple.com/us/app/monitora-brasil!/id721186628?mt=8">
                <div class="project-info">
                  <h5 class="title">Monitora, Brasil!</h5>
                  <p class="description">app para acompanhamento das atividades diárias de um deputado.</p>
                </div>
              </a>
            </div>
            <div class="col-xs-2 github-button">
              <a href="https://github.com/geraugu/monitorabrasil_android">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="slot">
          <div class="row vertical-align">
            <div class="col-xs-3 project-pic">
              <div class="circle"><div class="circle-label"></div></div>
            </div>
            <div class="col-xs-7 left">
              <a class="link-site" href="http://politica.me">
                <div class="project-info">
                  <h5 class="title">PoliticaMe</h5>
                  <p class="description">associa preferências políticas dos eleitores às dos deputados</p>
                </div>
              </a>
            </div>
            <div class="col-xs-2 github-button">
              <a href="https://github.com/cassiopaixao/politicame">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="slot">
          <div class="row vertical-align">
            <div class="col-xs-3 project-pic">
              <div class="circle"><div class="circle-label"></div></div>
            </div>
            <div class="col-xs-7 left">
              <a class="link-site" href="http://futecamara.paclabs.com.br">
                <div class="project-info">
                  <h5 class="title">FUTECAMARA</h5>
                  <p class="description">jogo de futebol baseado na atuação dos deputados na Câmara</p>
                </div>
              </a>
            </div>
            <div class="col-xs-2 github-button">
              <a href="https://github.com/victorrseloy/futecamara">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="slot">
          <div class="row vertical-align">
            <div class="col-xs-3 project-pic">
              <div class="circle"><div class="circle-label"></div></div>
            </div>
            <div class="col-xs-7 left">
              <a class="link-site" href="http://tiny.cc/abasedodeputado">
                <div class="project-info">
                  <h5 class="title">A base do Deputado</h5>
                  <p class="description"></p>
                </div>
              </a>
            </div>
            <div class="col-xs-2 github-button">
              <a href="https://github.com/leobarone/hackathonCamara">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
        


      </div>      
      <div class="col-md-6">
        <div class="slot">
          <div class="row vertical-align">
            <div class="col-xs-3 project-pic">
              <div class="circle"><div class="circle-label"></div></div>
            </div>
            <div class="col-xs-7 left">
              <a class="link-site" href="http://www.votoaberto.com.br/extratoparlamentarbeta/site">
                <div class="project-info">
                  <h5 class="title">Extrato Parlamentar</h5>
                  <p class="description"></p>
                </div>
              </a>
            </div>
            <div class="col-xs-2 github-button">
              <a href="#">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="slot">
          <div class="row vertical-align">
            <div class="col-xs-3 project-pic">
              <div class="circle"><div class="circle-label"></div></div>
            </div>
            <div class="col-xs-7 left">
              <a class="link-site" href="http://infoseca.uphero.com/">
                <div class="project-info">
                  <h5 class="title">Infoseca</h5>
                  <p class="description">projeto que georreferencia crises de seca no Brasil.</p>
                </div>
              </a>
            </div>
            <div class="col-xs-2 github-button">
              <a href="https://github.com/wseidel/InfoSeca">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="slot">
          <div class="row vertical-align">
            <div class="col-xs-3 project-pic">
              <div class="circle"><div class="circle-label"></div></div>
            </div>
            <div class="col-xs-7 left">
              <a class="link-site" href="http://hackathona.radarparlamentar.polignu.org/">
                <div class="project-info">
                  <h5 class="title">Parlamentares no Radar Parlamentar</h5>
                  <p class="description"></p>
                </div>
              </a>
            </div>
            <div class="col-xs-2 github-button">
              <a href="https://github.com/leonardofl/radar_parlamentar/tree/hack_cdep">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </div>
          </div>
      </div>
        <div class="slot">
          <div class="row vertical-align">
            <div class="col-xs-3 project-pic">
              <div class="circle"><div class="circle-label"></div></div>
            </div>
            <div class="col-xs-7 left">
              <a class="link-site" href="http://opovounido.com/">
                <div class="project-info">
                  <h5 class="title">OPovoUnido.com</h5>
                  <p class="description"></p>
                </div>
              </a>
            </div>
            <div class="col-xs-2 github-button">
              <a href="https://github.com/OPovoUnido">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="slot">
          <div class="row vertical-align">
            <div class="col-xs-3 project-pic">
              <div class="circle"><div class="circle-label"></div></div>
            </div>
            <div class="col-xs-7 left">
              <a class="link-site" href="http://quequere.com.br/caraacara">
                <div class="project-info">
                  <h5 class="title">Cara a Cara do Congresso</h5>
                  <p class="description">jogo clássico “Cara a Cara” adaptado à Câmara</p>
                </div>
              </a>
            </div>
            <div class="col-xs-2 github-button">
              <a href="https://github.com/barraponto/caraacara/tree/congresso">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="slot">
          <div class="row vertical-align">
            <div class="col-xs-3 project-pic">
              <div class="circle"><div class="circle-label"></div></div>
            </div>
            <div class="col-xs-7 left">
              <a class="link-site" href="http://deliberatorio.com.br">
                <div class="project-info">
                  <h5 class="title">Deliberatório</h5>
                  <p class="description">jogo que mostra como funciona o lobby na Câmara</p>
                </div>
              </a>
            </div>
            <div class="col-xs-2 github-button">
              <a href="https://github.com/sbvirtual/deliberatorio">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="slot">
          <div class="row vertical-align">
            <div class="col-xs-3 project-pic">
              <div class="circle"><div class="circle-label"></div></div>
            </div>
            <div class="col-xs-7 left">
              <a class="link-site" href="http://meucongressonacional.com">
                <div class="project-info">
                  <h5 class="title">Meu Congresso Nacional</h5>
                  <p class="description">acompanhamento de gastos com a cota parlamentar e outros dados do mandato</p>
                </div>
              </a>
            </div>
            <div class="col-xs-2 github-button">
              <a href="http://meucongressonacional.com/code">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="slot">
          <div class="row vertical-align">
            <div class="col-xs-3 project-pic">
              <div class="circle"><div class="circle-label"></div></div>
            </div>
            <div class="col-xs-7 left">
              <a class="link-site" href="http://olhonacamara.com.br">
                <div class="project-info">
                  <h5 class="title">Olho na Câmara</h5>
                  <p class="description"></p>
                </div>
              </a>
            </div>
            <div class="col-xs-2 github-button">
              <a href="https://github.com/jyoshiriro/prisma-camara">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="slot">
          <div class="row vertical-align">
            <div class="col-xs-3 project-pic">
              <div class="circle"><div class="circle-label"></div></div>
            </div>
            <div class="col-xs-7 left">
              <a class="link-site" href="http://www.sitransp.org.br">
                <div class="project-info">
                  <h5 class="title">Sistema do Índice de Transparência Parlementar - Sitransp</h5>
                  <p class="description">índice de qualidade na atuação de deputados</p>
                </div>
              </a>
            </div>
            <div class="col-xs-2 github-button">
              <a href="https://github.com/Demoulidor/Dados">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="slot">
          <div class="row vertical-align">
            <div class="col-xs-3 project-pic">
              <div class="circle"><div class="circle-label"></div></div>
            </div>
            <div class="col-xs-7 left">
              <a class="link-site" href="https://github.com/seijimanoan/povindica">
                <div class="project-info">
                  <h5 class="title">Povindica Brasil</h5>
                  <p class="description"></p>
                </div>
              </a>
            </div>
            <div class="col-xs-2 github-button">
              <a href="https://github.com/seijimanoan/povindica">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="slot">
          <div class="row vertical-align">
            <div class="col-xs-3 project-pic">
              <div class="circle"><div class="circle-label"></div></div>
            </div>
            <div class="col-xs-7 left">
              <a class="link-site" href="http://www.espiacamara.com.br/">
                <div class="project-info">
                  <h5 class="title">EspiaCâmara</h5>
                  <p class="description">mineração de dados para expor uma nuvem de tags com os dados abertos da Câmara</p>
                </div>
              </a>
            </div>
            <div class="col-xs-2 github-button">
              <a href="https://bitbucket.org/djosacv/camara-mining">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="slot">
          <div class="row vertical-align">
            <div class="col-xs-3 project-pic">
              <div class="circle"><div class="circle-label"></div></div>
            </div>
            <div class="col-xs-7 left">
              <a class="link-site" href="http://parlamentovirtual.org">
                <div class="project-info">
                  <h5 class="title">Parlamento Virtual</h5>
                  <p class="description"></p>
                </div>
              </a>
            </div>
            <div class="col-xs-2 github-button">
              <a href="https://github.com/plraphael/parlamento_virtual">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
      </div>    
      
    </div>
  </div>
</section>

<a href="#">
  <div class="btt">
    <div><i class="fa fa-angle-up fa-2x"></i></div>
  </div>
</a>

