<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Sobre</h2>
        <p class="text">O Laboratório Hacker da Câmara dos Deputados, criado pela Resolução 49 de 2013, conta com espaço físico de acesso e uso livres para qualquer cidadão, especialmente programadores e desenvolvedores de softwares, que poderão utilizar dados públicos para ações de cidadania.

Nosso objetivo, portanto, é promover ações colaborativas visando o aprimoramento da transparência legislativa e da participação popular.

Visite-nos no Anexo II da Câmara dos Deputados, Pavimento Superior, Ala C, Sala 173.</p>
      </div>
    </div>
  </div>
</footer>
