<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Sobre</h2>
        <p class="text">O Laboratório Hacker da Câmara dos Deputados, criado pela Resolução 49 de 2013, conta com espaço físico de acesso e uso livres para qualquer cidadão, especialmente programadores e desenvolvedores de softwares, que poderão utilizar dados públicos para ações de cidadania.

Nosso objetivo, portanto, é promover ações colaborativas visando o aprimoramento da transparência legislativa e da participação popular. <a href="/about.html">Conheça nossa equipe.</a>
<br/>
Visite-nos no Anexo IV da Câmara dos Deputados, Subsolo, Sala 90</p>
      <p class="text">Todo o conteúdo deste site está publicado sob a licença Creative Commons
CC BY-SA 4.0 Brasil</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div style="float:right">
          <a href="http://blog.labhackercd.net/wp-admin/">
            <i class="fa fa-user"></i> Admin
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
