<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Sobre</h2>
        <p class="text">O Laboratório Hacker da Câmara dos Deputados promove ações colaborativas visando o aprimoramento da transparência legislativa e da participação popular.</p>
      </div>
      <div class="col-md-4">
        <h2>Link content</h2>
        <p><a href="#">Gastropub sriracha</a></p>
        <p><a href="#">Marfa artisan</a></p>
        <p><a href="#">Organic cardigan</a></p>
        <p><a href="#">Thundercats</a></p>
        <p><a href="#">Odd Future</a></p>
        <p><a href="#">Schlitz Tonx</a></p>
      </div>
      <div class="col-md-4">
        <h2>Link content</h2>
        <p><a href="#">Gastropub sriracha</a></p>
        <p><a href="#">Marfa artisan</a></p>
        <p><a href="#">Organic cardigan</a></p>
        <p><a href="#">Thundercats</a></p>
        <p><a href="#">Odd Future</a></p>
        <p><a href="#">Schlitz Tonx</a></p>
      </div>
    </div>
  </div>
</footer>
