{{! Jumbotron component
================================================== }}
<header class="jumbotron masthead">
  <div class="container">
    <div class="row">
      <h1> {{{uppercase heading}}} </h1>
      <p class="lead"> {{{lead}}} </p>
    </div>
  </div>
</header>
