<!--<nav class="nav-top" class="navbar navbar-static-top" role="navigation">
  <div class="container">
    <div id="navbar">
      <a href="#"><img class="logo" src="{{ assets }}/img/Logo-Glitch.gif" /></a>
      <ul class="nav navbar-nav">
        <li><a href="#">blog</a></li>
        <li><a href="#about">e-democracia</a></li>
        <li><a href="#contact">hackdash</a></li>
        <li><a href="#contact">github</a></li>
        <li>
        <a class="twitter" href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        </li>
        <li>
        <a class="facebook" href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        </li>
        <li>
        <a class="flickr" href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-flickr fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        </li>
      </ul>
    </div>
  </div>
</nav>-->
<div class="container">
  <nav class="navbar nav-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#"><img class="logo" src="{{ assets }}/img/Logo-Glitch.gif" /></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
        <li><a href="#">blog</a></li>
        <li><a href="#about">e-democracia</a></li>
        <li><a href="#contact">hackdash</a></li>
        <li><a href="#contact">github</a></li>
        <li>
        <a class="twitter" href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        </li>
        <li>
        <a class="facebook" href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        </li>
        <li>
        <a class="flickr" href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-flickr fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        </li>
      </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>
</div>
