<nav class="nav-top" class="navbar navbar-static-top" role="navigation">
  <div class="container">
    <div id="navbar">
      <a href="#"><img class="logo" src="{{ assets }}/img/Logo-Glitch.gif" /></a>
      <ul class="nav navbar-nav">
        <li><a href="#">blog</a></li>
        <li><a href="#about">e-democracia</a></li>
        <li><a href="#contact">hackdash</a></li>
        <li><a href="#contact">github</a></li>
        <li>
        <a class="twitter" href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        </li>
        <li>
        <a class="facebook" href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        </li>
        <li>
        <a class="flickr" href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-flickr fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
