<div class="container">
  <nav class="navbar nav-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="//labhackercd.net/">
          <img class="logo" src="{{ assets }}/img/logo.gif" />
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
        <li><a href="//blog.labhackercd.net/">Blog</a></li>        
        <li{{#is data.section "about"}} class="active"{{/is}}>
          <a href="{{ relative page.dest "about.html"}}">Sobre</a>
        </li>        
        <li{{#is data.section "calendar"}} class="active"{{/is}}>
          <a href="{{ relative page.dest "calendar.html"}}">Agenda</a>
        </li>
        <li class="separator">&nbsp</li>
        <li>
          <a title="E-democracia" class="edemocracia icon-img" href="http://edemocracia.camara.gov.br/web/laboratorio-hacker"></a>
        </li>        
        <li>
        <a title="Github" class="github icon" href="https://github.com/labhackercd/">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        </li>
        <li>
        <a title="Twitter" class="twitter icon" href="https://twitter.com/labhackercd">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        </li>
        <li>
        <a title="Facebook" class="facebook icon" href="https://www.facebook.com/LabHackerCD">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        </li>
        <li>
        <a title="Flickr" class="flickr icon" href="https://www.flickr.com/photos/labhackercd/albums">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-flickr fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        </li>
      </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>
</div>
