<div class="top">
  <div class="content">
    <h1>Chamada para algo importante!</h1>
    <h4>Subtitulo para melhorar a informação acima.</h4>
    <a class="btn btn-lg btn-primary" role="button">Call to action!</a>
  </div>
</div>